.style1 {
    background-image: url('images/flowers.jpg');

}

.style2 {
    background-image: url('images/beach.jpg');

}

.style3 {
    background-image: url('images/nature.jpg')
}

button {
    background-color: blanchedalmond;
    margin-right: 10px;
    padding: 10px 20px;
    width: 100px;
}
 
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
input {
    margin: 10px 0;
    background: transparent;
    border: 1px dashed pink;
    padding: 7px
}

label {
    display: block;
    font-size: 0.9em;
}

.container {
    display: flex;
}

.controls {
    margin: 60px 30px 0 30px;
}

.preview-box {
    flex-grow: 1;
    text-align: center;
}

.preview {
    width: 900px;
    height: 700px;
    margin: 20px auto;
}

.preview div {
    padding: 20px;
}



